#panel, #flip {
    padding: 5px;
    font-size: 18px;
    text-align: center;
    background-color: rgb(78, 98, 161);
    color: white;
    border: solid 1px #666;
    border-radius: 3px;
}

#panel {
    padding: 50px;
    display: none;
}






.column {
    float: left;
    width: 18%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }





  .flip input[type="submit"]
     {  background-color: rgb(6, 153, 179);
         box-decoration-break: clone;
         height:50px;
         width: 200px;
         font-weight: bolder;
         font-size: 20px;
        border-radius: 10px;
     }
     .flip input[type="submit"]:hover{
       background-color:white;
       color: rgb(6, 153, 179);
              
     }